body {
  ul.tabs a.monkey-section:hover {
    background-color: #f4f4f4;
    background-image: none;
  }

  ul.tabs a.monkey-section,
  ul.tabs a.monkey-section:hover {
    border-bottom: 1px #eee;
    border-bottom-style: solid;
    text-indent: -9999px;
  }

  ul.tabs a.monkey-section span,
  ul.tabs a.monkey-section:hover span {
    background: url(../../default/magemonkey/mailchimp-tab.png) no-repeat;
    overflow: visible;
    padding-left: 0;
    width: auto;
    height: 20px;
  }

  ul.tabs a.monkey-section.active, ul.tabs a.monkey-section.active:hover {
    background: #eee;
    border-bottom-color: transparent;
  }
}
